<div ng-include="'views/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }" class="form-group">
          <label>Current Password</label>

          <input type="password" name="oldPassword" class="form-control" ng-model="user.oldPassword" required/>

          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
          </p>

          <p class="help-block" ng-show="(form.password.$error.required) && (form.oldPassword.$dirty || submitted)">
            Please enter current password.
          </p>
        </div>

        <div ng-class="{ 'has-success': form.newPassword.$valid && submitted, 'has-error': form.newPassword.$invalid && submitted }" class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>

          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div ng-class="{ 'has-success': form.confirmPassword.$valid && submitted, 'has-error': form.confirmPassword.$invalid && submitted }" class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" match="user.newPassword" ng-minlength="3" required/>

          <p class="help-block" ng-show="(form.confirmPassword.$error.required || form.confirmPassword.$error.match) && submitted">
            Passwords must match.
          </p>


        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
